<div class="movie__markup__card ">
  <div class="movie__markup__img">
    <img src="{{poster_path}}" width="300px" alt={{title}} />
  </div>
  <div class="movie__content">
    <div class="card-body">
      <h3 class="card-title-movie">{{title}}</h3>
      <p class="card-body-date">{{release_date}}</p>
      <p class="card-title-text">{{allCountries}}</p>
      <p class="card-title-text">{{allGenres}}</p>
      <div class="card-title-text">
        <p class="icon-runtime-min"><i class="material-icons icon-runtime">theaters</i>{{runtime}} мин</p>
      </div>
      <p class="card-text-overview">{{overview}}</p>
      <p class="card-text-rainting" data-id={{id}}><i class="material-icons icon-raiting">star_rate</i>{{vote_average}}
      </p>
    </div>
    <div class="btn-group btn-group-sm status__film__js" data-container={{id}} role="group">
    </div>
  </div>
</div>

<div>
  <div class="movie__markup__tab">
    <button class="movie__markup__tablinks " id="defaultOpen" data-tabname="actors">Актеры</button>
    <button class="movie__markup__tablinks" data-tabname="reviews">Отзывы</button>
    <button class="movie__markup__tablinks" data-tabname="trailers">Трейлер</button>
  </div>

  <!-- Tab content -->
  <div id="actors" class="movie__markup__tabcontent">

  </div>

  <div id="reviews" class="movie__markup__tabcontent">

  </div>

  <div id="trailers" class="movie__markup__tabcontent">

  </div>
</div>