{{#each this}}
    <div data-id={{id}} class="card">
        <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" width="300px" data-id={{"id"}} alt={{title}} />
        <p data-id={{id}}>{{title}} ({{release_date}}) </p>
        <p data-id={{id}}>Рейтинг: {{vote_average}}</p>
        <button type="button" data-id={{id}}>Избранное</button>
        <button type="button" data-id={{id}}>Посмотреть</button>
        <button type="button" data-id={{id}}>Посмотрел</button>
    </div>
{{/each}}